:root{
    --light-grey:#D3D3D3;
    --orange:#FF8911;
    --dark-orange: #E2780E;
    --dirty-white:#F0EFF6;
    --shadow-white:#3A3535;
    --stroke: #313131;
    --divider: #d4d4d4;
    --pantone-black: #232020;
    --light-black: #3A3535;
    --bg-white:#F4F4F4;
    --bg2-white:#e7e7e7;
    --dark-grey: #A5A6A6;
}

#Archive_Table_Component{
    width: 100%;
    height: 100%;
}

#Archive_Table_Component > .wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#Archive_Table_Component > .wrapper > .Table_Top{
    display: flex;
    justify-content: end;
    align-items: center;
}

#Archive_Table_Component > .wrapper > .Table_Top > .Table_Top_Right{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#Archive_Table_Component > .wrapper > .Table_Top > .Table_Top_Right > *{
    display: flex;
    justify-content: center;
    align-items: center;
}

#Archive_Table_Component > .wrapper > .Table_Top > .Table_Top_Right > button:hover{
    background-color: var(--dark-orange);
}

/* Table */

#Archive_Table_Component > .wrapper > .Table_Container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Archive_Table_Component > .wrapper > .Table_Container > .Table {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#Archive_Table_Component > .wrapper > .Table_Container > .Table > .Table_Header_Container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

#Archive_Table_Component > .wrapper > .Table_Container > .Table > .Table_Header_Container > .Tabler_Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}

#Archive_Table_Component > .wrapper > .Table_Container > .Table > .Table_Header_Container > .Tabler_Header > .Table_Header_Label{
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 145px;
}

#Archive_Table_Component > .wrapper > .Table_Container > .Table > .Table_Header_Container > .Tabler_Header > .Table_Header_Filter{
    color: var(--light-grey);
    cursor: pointer;
}

#Archive_Table_Component > .wrapper > .Table_Container > .Table > .Table_Body_Container {
    width: 100%;
    height: 550px;
    overflow-y: auto;
}

#Archive_Table_Component > .wrapper > .Table_Container > .Table > .Table_Body_Container > .Loader{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Archive_Table_Component > .wrapper > .Table_Container > .Table > .Table_Body_Container > .Table_Body_Row > .Table_Body_Details {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: rgba(187, 187, 187, 0.25);
    height: 50px;
    border-radius: 5px;
    margin-bottom: 10px;
    user-select: text;
    cursor: pointer;
    transition: all 250ms ease-in-out;
}

#Archive_Table_Component > .wrapper > .Table_Container > .Table > .Table_Body_Container > .Table_Body_Row > .Table_Body_Details:hover{
    background-color: var(--light-grey);
}


#Archive_Table_Component > .wrapper > .Table_Container > .Table > .Table_Body_Container > .Table_Body_Row > .Table_Body_Details > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}

#Archive_Table_Component > .wrapper > .Table_Container > .Table > .Table_Body_Container > .Table_Body_Row > .Table_Body_Details > div > p{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 165px;
}

#Archive_Table_Component > .wrapper > .Table_Container > .Table > .Table_Body_Container > .Table_Body_Row > .Table_Body_Details > .Actions {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

#Archive_Table_Component > .wrapper > .Table_Container > .Table > .Table_Body_Container > .Table_Body_Row > .Table_Body_Details > .Actions > .View{
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: white;
    background-color: var(--orange);
    border-radius: 5px;
    cursor: pointer;
}

#Archive_Table_Component > .wrapper > .Table_Container > .Table > .Table_Body_Container > .Table_Body_Row > .Table_Body_Details > .Actions > .Edit{
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: white;
    background-color: #4682B4;
    border-radius: 5px;
    cursor: pointer;
}

#Archive_Table_Component > .wrapper > .Table_Container > .Table > .Table_Body_Container > .Table_Body_Row > .Table_Body_Details > .Actions > .Archive{
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: white;
    background-color: #93C572;
    border-radius: 5px;
    cursor: pointer;
}

#Archive_Table_Component > .wrapper > .Table_Container > .Table > .Table_Body_Container > .Table_Body_Row > .Table_Body_Details > .Status{
    display: flex;
    justify-content: start;
    align-items: center;
}

#Archive_Table_Component > .wrapper > .Table_Container > .Table > .Table_Body_Container > .Table_Body_Row > .Table_Body_Details > .Status > p {
    display: flex;
    background-color: #4682B4;
    width: 120px;
    padding: 5px 10px;
    border-radius: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Archive_Table_Component > .wrapper > .Table_Container > .Table > .Table_Body_Container > .Table_Body_Row > .Table_Body_Details > .Status.Approved > p{
    background-color: #93C572;
}

#Archive_Table_Component > .wrapper > .Table_Container > .Table > .Table_Body_Container > .Table_Body_Row > .Table_Body_Details > .Status.Rejected > p{
    background-color: #FA5F55;
}

#Archive_Table_Component > .wrapper > .Table_Container > .Table > .Table_Body_Container > .Table_Body_Row > .Table_Body_Details > .Status.Ongoing > p{
    background-color: #FFC300;
}

#Archive_Table_Component > .wrapper > .Table_Container > .Table > .Table_Body_Container > .Table_Body_Row .Table_Body_Other_Details {
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    box-shadow: -5px 10px 20px 0 rgba(187, 187, 187, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 10px;
    color: var(--dark-grey);
}

#Archive_Table_Component > .wrapper > .Table_Container > .Table > .Table_Body_Container > .Table_Body_Row .Table_Body_Other_Details > .Other_Details{
    display: flex;
    gap: 10px;
    white-space: initial;
}

#Archive_Table_Component > .wrapper > .Table_Container > .Table > .Table_Body_Container > .Table_Body_Row .Table_Body_Other_Details > .Other_Details > span{
    width: 100px;
}

#Archive_Table_Component > .wrapper > .Table_Container > .Table > .Table_Body_Container > .Table_Body_Row .Table_Body_Other_Details > .Other_Details > p{
    color: var(--pantone-black);
    width: 1000px;
    word-wrap: break-word;
}

/* Pagination */

#Archive_Table_Component > .wrapper > .Table_Pagination{
    width: 100%;
}

#Archive_Table_Component > .wrapper > .Table_Pagination{
    width: 100%;
    display: flex;
    justify-content: end;
    gap: 10px;
}

#Archive_Table_Component > .wrapper > .Table_Pagination > button {
    width: 100px;
    height: 35px;
}

#Archive_Table_Component > .wrapper > .Table_Pagination > .Pagination_Previous{
    border: 1px solid var(--light-black);
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: all 250ms ease-in-out;
}

#Archive_Table_Component > .wrapper > .Table_Pagination > .Pagination_Previous:hover{
    background-color: var(--light-grey);
    border-color: var(--light-grey);
}

#Archive_Table_Component > .wrapper > .Table_Pagination > .Pagination_Next{
    border: 1px solid var(--pantone-black);
    background-color: var(--pantone-black);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: all 250ms ease-in-out;
}

#Archive_Table_Component > .wrapper > .Table_Pagination > .Pagination_Next:hover{
    background-color: var(--light-black);
    border-color: var(--light-black);
}

