@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*,*::before,*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  overflow-x: hidden;
}


a {
    color: #084BD3;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 150ms ease-in-out;
}

a:hover {
    color: purple;
}

/* For WebKit browsers (e.g., Chrome, Safari) */
::-webkit-scrollbar {
  width: 5px; /* Set the width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1); /* Set the color of the scrollbar thumb */
  border-radius: 10px; /* Set the border radius of the scrollbar thumb */
}

#Main_View {
  display: flex;
}

#Main_View > .Sidebar{
  display: block;
  z-index: 99;
}

/* App css */
#Main_View > .Main_Content {
  display: block;
  width: 100%;
}

@media only screen and (max-width: 1024px) {
  #Main_View > .Sidebar{
    position: fixed;
  }
}
